.button {
    &__box {
        color: var(--color-texto-invert);
        // font-family: $secondary-font;
        font-weight: 500;
        background: var(--color-input-background);
        margin-top: 20px;
        padding: 7px 10px;
        border-radius: 12px;
        border: 1px solid #000;

        &:hover {
            background: transparent;
            color: #000;
        }

        &:disabled {
            opacity: 0.5;
            background: var(--color-input-background);
            color: var(--color-texto-invert);
            cursor: initial;
        }

        &.inverted {
            background: var(--color-input-background-invert);
            color: var(--color-texto)
        }

        &.inverted:hover {
            background: #F1F1F1;
        }
    }
}