.combo {
    
    &__container{
        margin: 20px;
    }
    &__title {
        color: #5d5879;
        font-size: 14px;
        // font-family: $ternary-font;
        margin: 0px 0px 5px 8px;
        padding: 5px 5px 5px;
        width: 90%;
    }

    &__select {
        height: 32px;
        color: #323131;;
        margin-left: 5px;
        margin-bottom: 5px;
        border: 1px solid#292A2D;
        width: 97%;
        padding: 5px 5px 5px 10px;
        border-radius: 8px;
        // font-family: $primary-font;
        background: rgb(255, 255, 255, 0.8);

        &:focus {
            box-shadow: 0px 2px 3px rgb(0, 0, 0, 8 );;
        }
    }

}